document <!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Tartar
        script
            include ../public/js/home.js
        style
            include ../public/css/home.css
    body

        header
            a#logo(href="/")
        noscript Слышъ, включи жабку
        .container
            .container-inner
                .dropzone
                    .dropzone-inner
                        .dropzone-pane
                            .dropzone-text
                                | Перетащите файлы либо воспользуйтесь кнопкой
                            .button#loadBtn
                                span.button_text 
                                    | Загрузить изображения
                    .restriction 
                        | Доступные расширения: jpg, gif, png; максимальный размер до 8 Мбайт
        form(id = "fileForm" action="/load-to-storage" method="post" encType="multipart/form-data" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;")
            <input id = "file" type="file" name="image" multiple="multiple" class="dz-hidden-input" accept="image/*" style="/*visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;*/">
            input#submit(type="submit" value="Enter")